// colors
$black: #000000;
$white: #ffffff;
$orange: #d5a353;

// fonts
// $mainFont: 'IntroLight', sans-serif;
$mainFont: 'IntroLight';
// $titleFont: 'IntroBold', sans-serif;
$titleFont: 'IntroBold';