<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(rel="stylesheet", href="styles.css")

    title Презентация Barber WILD

body
    header.section.section--header
        .logo
            .logo__text Barber WILD
            .logo__image: img(src="img/logo-white.svg", alt="Barber WILD logo white")
            .logo__est ESTD 2015

        h1.motto Мужская косметика с&nbsp;характером

        .mascot: img(src="img/backs/wild.jpg", alt="Barber WILD mascot")

    section.section.section--letters.section--bottom-bg
        .section__content
            .big-letters: img(src="img/bw-letters.png", alt="Barber WILD BW letters")

            p.idea Идея создания мужской косметики Barber WILD пришла в 2015 году. Во время работы два приятеля — барбер и химик решили, что существующие средства для волос и бороды недостаточно хороши, и в 2016 году создали собственную линию косметики, которая позволила им проявить свое мастерство в полной мере.

            p Barber WILD — это не только высококачественные средства ухода за бородой, усами и волосами головы для настоящих мужчин, но и истинный брутальный дух Дикого Запада.

            p Все, что мы делаем — делаем с душой, начиная от бритья и стрижки, заканчивая укладкой и уходом за бородой и волосами.

            p Не только профессиональный барбер, но и каждый мужчина, который заботится о своем здоровье и облике, может теперь по достоинству оценить качество косметики Barber WILD, а также легко и быстро самостоятельно придать причёске, усам и бороде опрятный вид.

        .orange-logo: img(src="img/logo-orange.svg", alt="Barber WILD logo orange")

        .section__background: img(src="img/backs/razor-bottle.jpg", alt="Barber WILD Shave Oil with razor on top")

    section.section.section--bottom-bg.section--inverse
        .section__content
            h2.black-motto Made by Barber<br><strong>for Barber</strong>

            p В создании продукции принимают непосредственное участие профессиональные барберы, не понаслышке знающие обо всех нюансах практического применения косметики.

            p Это то, что с особым старанием было создано для самих себя — от барбера для барбера, и мы рады поделиться отличным результатом с вами!

            .certificate
                .certificate__logo: img(src="img/eac-logo.svg", alt="EAC logo")
                p.certificate__text Вся продукция прошла лабораторные испытания и сертификацию, соответствует ГОСТам (31460&#8209;2012, 31692&#8209;2012 и 32852&#8209;2014) и техническому регламенту таможенного союза ТР&nbsp;ТС&nbsp;009/2011 «О&nbsp;безопасности парфюмерно-косметической продукции».

        .orange-logo: img(src="img/logo-orange.svg", alt="Barber WILD logo orange")

        .section__background: img(src="img/backs/tattooed-man-matt-clay2.jpg", alt="Tattooed man with Barber WILD Matt Clay")

    section.section.section--products
        //- h2.orange-motto Made by Barber<br><strong>for Barber</strong>
        h2.hide-desktop.orange-motto Наша продукция

        article.product
            h2.product__title Матирующая глина<br>Barber WILD<br>Matt Clay
            .product__content
                .product__image: img(src="img/products/clay.png", alt="Матирующая глина Barber WILD Matt Clay")
                .product__background

        article.product
            h2.product__title Помады для волос<br>Barber WILD<br>Juicy и Ice Melon
            .product__content
                .product__image: img(src="img/products/pomade.png", alt="Помады для волос Barber WILD Juicy и Ice Melon")
                .product__background

        article.product
            h2.product__title Мыло для бритья<br>Barber WILD
            .product__content
                .product__image: img(src="img/products/soap.png", alt="Мыло для бритья Barber WILD")
                .product__background

        article.product
            h2.product__title Масло для бритья<br>Barber WILD
            .product__content
                .product__image: img(src="img/products/shave-oil.png", alt="Масло для бритья Barber WILD")
                .product__background

        article.product
            h2.product__title Бальзам после бритья<br>Barber WILD<br>Men's First Aid
            .product__content
                .product__image: img(src="img/products/balm.png", alt="Бальзам после бритья Barber WILD Men's First Aid")
                .product__background

        article.product
            h2.product__title Масло для бороды<br>Barber WILD<br>Idaho и Tennessee
            .product__content
                .product__image: img(src="img/products/oil.png", alt="Масло для бороды Barber WILD Idaho и Tennessee")
                .product__background
        
        .soon
            article.product-soon.product-soon--shampoo
                .product-soon__icon comming<br><strong>soon</strong>
                .product-soon__content
                    h2.product-soon__title Шампунь
                    p.product-soon__description с экстрактами розмарина, тимьяна, коры мыльного дерева и протеинами пшеницы

            article.product-soon
                .product-soon__icon comming<br><strong>soon</strong>
                .product-soon__content
                    h2.product-soon__title Гель для бритья
                    p.product-soon__description на уникальной водной основе <br><br>

        .orange-logo.orange-logo--center: img(src="img/logo-orange.svg", alt="")

    section.section.section--partners
        .styling-image: img(src="img/hair-styling.jpg", alt="Hair Styling with Barber WILD Pomade")

        .section__content
            p Всё больше мужских парикмахерских становятся представителями Barber WILD, предлагая своим клиентам нашу косметику.

            p Всё чаще барберы из Европы предпочитают Barber WILD иным маркам.

            .partners
                .partners__image: img(src="img/partners/oldboy.svg", alt="OldBoy логотип")
                .partners__image: img(src="img/partners/topgun.svg", alt="TopGun логотип")
                .partners__image: img(src="img/partners/borodach.svg", alt="Бородач логотип")
                .partners__image: img(src="img/partners/magnum.svg", alt="Магнум Барбершоп логотип")
                .partners__image: img(src="img/partners/tseh.svg", alt="ЦЕХ Барбершоп логотип")

        .instagram-ledder
            .instagram-ledder__title <a href="">#BarberWILD</a> в&nbsp;Instagram

            .instagram-ledder__row.instagram-ledder__row--mobile
                .instagram-ledder__image: img(src="img/instagram/1.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/2.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/3.jpg", alt="Barber WILD instagram image")
            .instagram-ledder__row.instagram-ledder__row--mobile
                .instagram-ledder__image: img(src="img/instagram/4.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/5.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/6.jpg", alt="Barber WILD instagram image")

            .instagram-ledder__row
                .instagram-ledder__image: img(src="img/instagram/1.jpg", alt="Barber WILD instagram image")
            .instagram-ledder__row
                .instagram-ledder__image: img(src="img/instagram/2.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/3.jpg", alt="Barber WILD instagram image")
            .instagram-ledder__row
                .instagram-ledder__image: img(src="img/instagram/4.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/5.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/6.jpg", alt="Barber WILD instagram image")
            .instagram-ledder__row
                .instagram-ledder__image: img(src="img/instagram/7.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/8.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/9.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/10.jpg", alt="Barber WILD instagram image")
            .instagram-ledder__row
                .instagram-ledder__image: img(src="img/instagram/11.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/12.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/13.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/14.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/15.jpg", alt="Barber WILD instagram image")
            .instagram-ledder__row
                .instagram-ledder__image: img(src="img/instagram/16.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/17.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/18.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/19.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/20.jpg", alt="Barber WILD instagram image")
                .instagram-ledder__image: img(src="img/instagram/21.jpg", alt="Barber WILD instagram image")

    section.section.section--compare
        h2.golden-title.golden-title--pb Давайте проведём простое сравнение закупочных цен*

        table.prices-table
            tr
                th
                th Barber<br>WILD
                th American CREW
                th Lock,&nbsp;Stock &&nbsp;Barrel
                th Reuzel

            tr
                td Глина
                td 460 <br><small>100 гр</small>
                td 795 <br><small>(Fiber) 85 гр</small> <hr>1190<br><small>(Molding Clay) 85 гр</small>
                td 1145 <br><small>100 гр</small>
                td 999 <br><small>113 гр</small>

            tr
                td Помада
                td 440 <br><small>100 гр</small>
                td 739 <br><small>85 гр</small>
                td 1027 <br><small>100 гр</small>
                td 940 <br><small> 113 гр</small>

            tr
                td Масло <br><small>для бритья</small>
                td 450 <br><small>55 мл</small>
                td 1271 <br><small>50 мл</small>
                td 1359 <br><small>50 мл</small>
                td -

            tr
                td Масло <br><small>для ухода за бородой</small>
                td 390 <br><small>25 мл</small>
                td 1271 <br><small>50 мл</small>
                td 1359 <br><small>50 мл</small>
                td 760 <br><small>35 мл</small>

            tr
                td Лосьон <br><small>после бритья</small>
                td 400 <br><small>100 мл</small>
                td 866 <br><small>150 мл</small>
                td -
                td 589 <br><small>100 мл</small>

            tr
                td Гель <small>для бритья</small>
                td 790 <br><small>300 мл</small>
                td 866 <br><small>150 мл</small>
                td -
                td 1171 <br><small>300 мл</small>

            tr
                td Шампунь
                td СКОРО В ПРОДАЖЕ <br><small>300 мл</small> <hr>СКОРО В ПРОДАЖЕ <br><small>1000 мл</small>
                td 932 <br><small>250 мл</small> <hr>1712<br><small>1000 мл</small>
                td 906 <br><small>250 мл</small> <hr>1433<br><small>1000 мл</small>
                td 936 <br><small>350 мл</small> <hr>1524<br><small>1000 мл</small>

        .section__content
            p Что же в итоге?
            h2.golden-title Превосходное соотношение цены и качества
            p А значит стабильные продажи
            h2.golden-title Высокая маржинальность
            p А значит рост вашей прибыли
            p.note <em>*</em> Цены указаны в рублях (по состоянию на 01.07.2017), являются оптовыми, предоставлены официальными представителями или получены из официальных источников.

        .section__background: img(src="img/backs/cosmetics.jpg", alt="Barber WILD cosmetics")

    section.section.section--cta
        p.golden-text Нам импонирует Ваш барбершоп и мы хотим предложить вам сотрудничество!
        p.golden-text Лучшая косметика должна быть у лучших!

        .section__content
            h2.golden-title Качество, в котором мы уверены
            p Мы настолько убеждены, что наша продукция понравится Вам и вашим барберам, что готовы <span>Бесплатно</span> отправить вам промо-бокс косметики Barber WILD, состоящий из 8 продуктов: глины и двух помад для укладки волос, масла для ухода за бородой и усами, лосьона после бритья и крафтового мыла.

            a(href="").cta-button Получить<br>Бесплатный набор</a>

            p.golden-text Ответить на любые возникшие вопросы и развеять последние сомнения сможет ваш персональный менеджер отдела продаж:

            a(href="tel:+79527947836").link.link--phone <img src="img/phone.svg">+7&nbsp;909&nbsp;789&nbsp;44&nbsp;58

            a(href="mailto:partners@barberwild.com").link.link--mail partners@barberwild.com

        .free-label Free
        .section__background: img(src="img/backs/set.jpg", alt="Barber WILD cosmetics")