<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(rel="stylesheet", href="styles.css")

    title Презентация Barber WILD

body
    header.section
        .logo
            .logo__text Barber WILD
            .logo__image: img(src="img/logo.png", alt="Barber WILD logo")
            .logo__est ESTD 2015

        h1.motto Мужская косметика с характером

    section.section
        .big-letters: img(src="img/big-bw.png", alt="")

        p Идея создания мужской косметики Barber WILD пришла в 2015 году. Во время работы два приятеля — барбер и химик решили, что существующие средства для волос и бороды недостаточно хороши, и в 2016 году создали собственную линию косметики, которая позволила им проявить свое мастерство в полной мере.

        p Barber WILD — это не только высококачественные средства ухода за бородой, усами и волосами головы для настоящих мужчин, но и истинный брутальный дух Дикого Запада.

        p Все, что мы делаем — делаем с душой, начиная от бритья и стрижки, заканчивая укладкой и уходом за бородой и волосами.

        p Но не только профессиональный барбер, но и каждый мужчина, который заботится о своем здоровье и облике, может теперь по достоинству оценить качество косметики Barber WILD, а также легко и быстро самостоятельно придать причёске, усам и бороде опрятный вид.

        .orange-logo: img(src="img/logo-orange.png", alt="")

    section.section
        p В создании продукции принимают непосредственное участие профессиональные барберы, не понаслышке знающие обо всех нюансах практического применения косметики.

        // Made by Barber for Barber

        p Это то, что с особым старанием было создано для самих себя — от барбера для барбера, и мы рады поделиться отличным результатом с вами!

        .certificate
            .certificate__logo: img(src="img/eac.png", alt="")
            p.certificate__text Вся продукция прошла лабораторные испытания и сертификацию, соответствует ГОСТам (31460-2012, 31692-2012 и 32852-2014) и техническому регламенту таможенного союза тр тс 009/2011 «О безопасности парфюмерно-косметической продукции».

        .orange-logo: img(src="img/logo-orange.png", alt="")

    section.section
        article.product
            h2.product__title Матирующая глина Barber WILD Matt Clay
            .product__image: img(src="img/products/", alt="")
            .product__background

        article.product
            h2.product__title Помады для волос Barber WILD Juicy и Ice Melon
            .product__image: img(src="img/products/", alt="")
            .product__background

        article.product
            h2.product__title Мыло для бритья Barber WILD
            .product__image: img(src="img/products/", alt="")
            .product__background

        article.product
            h2.product__title Масло для бритья Barber WILD
            .product__image: img(src="img/products/", alt="")
            .product__background

        article.product
            h2.product__title Бальзам после бритья Barber WILD Men's First Aid
            .product__image: img(src="img/products/", alt="")
            .product__background

        article.product
            h2.product__title Масло для бороды Barber WILD Idaho и Tennessee
            .product__image: img(src="img/products/", alt="")
            .product__background

        article.product-soon
            .product-soon__icon comming <br><strong>soon</strong>
            .product-soon__content
                h2.product-soon__title Шампунь
                p.product-soon__description с экстрактами розмарина, тимьяна, коры мыльного дерева и протеинами пшеницы

        article.product-soon
            .product-soon__icon comming <br><strong>soon</strong>
            .product-soon__content
                h2.product-soon__title Гель для бритья
                p.product-soon__description на уникальной водной основе

        .orange-logo: img(src="img/logo-orange.png", alt="")

    // TODO: продумать разметку
    section.section
        p Всё больше мужских парикмахерских становятся представителями Barber WILD, предлагая своим клиентам нашу косметику.

        p Всё чаще барберы из Европы предпочитают Barber WILD иным маркам.

    section.section
        h2 Давайте проведём простое сравнение закупочных цен*

        table
            tr
                th
                th Barber WILD
                th American CREW
                th Lock, Stock & Barrel
                th Reuzel

            tr
                td Глина
                td 460 <br>100 гр
                td 795 <br><small>(Fiber) 85 гр</small> <hr>1190 <br><small>(Molding Clay) 85 гр</small>
                td 1145 <br><small>100 гр</small>
                td 999 <br><small>113 гр</small>

            tr
                td Помада
                td 440 <br><small>100 гр</small>
                td 739 <br><small>85 гр</small>
                td 1027 <br><small>100 гр</small>
                td 940 <br><small> 113 гр</small>

            tr
                td Масло <br><small>для бритья</small>
                td 450 <br><small>55 мл</small>
                td 1271 <br><small>50 мл</small>
                td 1359 <br><small>50 мл</small>
                td -

            tr
                td Масло <br><small>для ухода за бородой</small>
                td 390 <br><small>25 мл</small>
                td 1271 <br><small>50 мл</small>
                td 1359 <br><small>50 мл</small>
                td 760 <br><small>35 мл</small>

            tr
                td Лосьон <small>после бритья</small>
                td 400 <br><small>100 мл</small>
                td 866 <br><small>150 мл</small>
                td -
                td 589 <br><small>100 мл</small>

            tr
                td Гель <small>для бритья</small>
                td 790 <br><small>300 мл</small>
                td 866 <br><small>150 мл</small>
                td -
                td 1171 <br><small>300 мл</small>

            tr
                td Шампунь
                td СКОРО В ПРОДАЖЕ <br><small>300 мл</small> <hr>СКОРО В ПРОДАЖЕ <br><small>1000 мл</small>
                td 932 <br><small>250 мл</small> <hr>1712<br><small>1000 мл</small>
                td 906 <br><small>250 мл</small> <hr>1433<br><small>1000 мл</small>
                td 936 <br><small>350 мл</small> <hr>1524<br><small>1000 мл</small>

        p Что же в итоге?
        p Превосходное соотношение цены и качества
        p А значит стабильные продажи
        p Высокая маржинальность
        p А значит рост вашей прибыли
        p Цены указаны в рублях (по состоянию на 01.07.2017), являются оптовыми, предоставлены официальными представителями или получены из официальных источников.

    section.section
        p Нам импонирует Ваш барбершоп и мы хотим предложить вам сотрудничество!
        p Лучшая косметика должна быть у лучших!
        h2 Качество, в котором мы уверены
        p Мы настолько уверены, что наша продукция понравится Вам и вашим барберам, что готовы <span>Бесплатно</span> отправить вам промо-бокс косметики Barber WILD, состоящий из 8 продуктов: глины и двух помад для укладки волос, масла для ухода за бородой и усами, лосьона после бритья и крафтового мыла.
        p Ответить на любые возникшие вопросы и развеять последние сомнения сможет ваш персональный менеджер отдела продаж:

        p <a href="tel:+79527947836">+7 952 794 78 36</a>
        p <a href="mailto:partners@barberwild.com">partners@barberwild.com</a>
        p <a href="">Получить Бесплатно</a>