.black-motto {
    // box model
    padding-bottom: 20px;
    
    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @include atDesktop {
        // box model
        margin-bottom: 0;

        // typography
        color: $orange;
        font-size: 3.3rem;
        text-align: left;
    }

    strong {
        font-size: 1.37em;
    }
}