.certificate {
    // box model
    padding-bottom: 10px;

    // typography
    font-size: 0;

    @include atTabletsPortrait {
        // box model
        padding: 20px 0;
        padding-bottom: 40px;
    }

    @include atDesktop {
        // box model
        width: 450px;
        margin-top: 60px;
        padding: 20px 10px;

        // visual
        background-color: $orange;
    }

    &__logo {
        // box model

        // typography
        text-align: center;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: middle;
            height: 91px;
            width: 91px;
        }

        @include atDesktop {
            // box model
            // vertical-align: top;
        }
    }

    &__text {
        // typography
        // font-family: $titleFont;
        font-size: 0.8rem;
        // text-transform: uppercase;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 92px);
            padding-left: 20px;

            // typography
            font-size: 1rem;
        }

        @include atDesktop {
            // box model
            // vertical-align: top;
            padding-top: 0;
            margin: 0;

            // typography
            color: $black;
            line-height: 1.3;
            font-size: 0.875rem !important;
            // font-family: $titleFont;

            // box model
            width: 330px;
        }
    }
}