.instagram-ledder {
    // typography
    font-size: 0;

    &__row {
        // typography
        text-align: right;

        &:nth-of-type(n + 5) {
            // box model
            display: none;
        }
    }

    &__title {
        // box model
        padding: 20px 0;
        padding-bottom: 40px;
        
        // typography
        font-family: $titleFont;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        a {
            // typography
            color: $orange;
            text-decoration: none;

        }
    }

    &__image {
        // box model
        display: inline-block;
        width: 100px;

        img {
            // box model
            width: 100%;
        }
    }
}