.instagram-ledder {
    // typography
    font-size: 0;

    @include atDesktop {
        // positioning
        position: absolute;
        top: 0;
        right: 0;
    }

    &__row {
        // typography
        text-align: right;

        &:nth-of-type(n + 5) {
            // box model
            display: none;

            @include atDesktop {
                // box model
                display: block;
            }
        }
    }

    &__title {
        // box model
        padding: 20px 0;
        padding-bottom: 40px;
        
        // typography
        font-family: $titleFont;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        @include atDesktop {
            // positioning
            position: absolute;
            right: 160px;
            top: 30px;

            // typography
            font-size: 1.8rem;
        }

        a {
            // typography
            color: $orange;
            text-decoration: none;

        }
    }

    &__image {
        // box model
        display: inline-block;
        width: 100px;

        @include atDesktop {
            // box model
            width: 132px;
        }

        img {
            // box model
            width: 100%;
        }
    }
}