.link {
    // box model
    display: block;

    // typography
    color: $orange;
    font-family: $titleFont;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;


    &--phone {
        // positioning
        position: relative;

        // box model
        vertical-align: top;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 10px;

        // typography
        color: $black;
        font-size: 2rem;

        // visual
        background-color: $orange;
        border-radius: 7px;
        border-top: 3px solid #ffc363;
        border-bottom: 3px solid #a07a3e;
        transition: all 0.3s ease-out;
        text-shadow: 0 2px 0 #ffc363;

        @include atSmall {
            // typography
            font-size: 1.25rem;
        }

        @include atTabletsPortrait {
            // typography
            font-size: 2.3rem;
        }

        @include atDesktop {
            // positioning
            // transform: translateX(-40px);

            // box model
            margin: 40px 0;
        }

        &:hover {
            // visual
            background-color: #ffc363;
            background-image: linear-gradient(to left, $orange, #ffc363, $orange);
        }

        img {
            // positioning
            position: relative;
            top: 2px;

            // box model
            display: inline-block;
            vertical-align: top;
            height: 40px;

            @include atSmall {
                // box model
                height: 20px;
            }
        }
    }

    &--mail {
        // typography
        font-size: 1.15rem;
        text-decoration: underline;

        // visual
        transition: all 0.3s ease-out;

        @include atSmall {
            // typography
            font-size: 1rem;
        }

        @include atDesktop {
            // typography
            text-align: left;
        }

        &:hover {
            // visual
            opacity: 0.7;
        }
    }
}