.logo {
    // box model
    padding-top: 50px;
    padding-bottom: 220px;

    // typography
    text-align: center;

    @include atTabletsPortrait {
        // box model
        padding-bottom: 52vh;
    }

    @include atTabletsLandscape {
        // box model
        padding-bottom: 48vh;
    }

    @include atDesktop {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        padding-bottom: 440px;
        padding-top: 10px;
    }

    &__text {
        // typography
        font-size: 0;

        // visual
        visibility: hidden;
    }

    &__image {
        // box model
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px;

        @include atTabletsPortrait {
            // box model
            max-width: 80%;
        }

        @include atTabletsLandscape {
            // box model
            width: 50vw;
            padding-top: 0;
        }

        @include atDesktop {
            // box model
            width: 600px;
        }

        img {
            // box model
            width: 100%;
        }
    }

    &__est {
        // typography
        color: $orange;
        font-family: $titleFont;
        font-size: 1rem;
    }
}