p.note {
    // box model
    margin-top: 50px;
    padding-top: 5px;

    // typography
    font-size: 1rem;
    line-height: 1.2;

    // visual
    border-top: 1px solid rgba($black, 0.5);

    @include atDesktop {
        // box model
        padding-top: 40px;

        // typography
        font-size: 0.8rem !important;
    }

    em {
        // box model
        display: inline-block;
        vertical-align: top;
        margin-bottom: -20px;

        // typography
        color: $orange;
        font-size: 1.8em;
    }
}