.orange-logo {
    // positioning
    position: absolute;
    bottom: 0;
    z-index: 1;

    // box model
    margin: 0 auto;
    // margin-top: 180px;
    padding: 20px 0;
    width: 45%;
    
    text-align: left;

    @include atDesktop {
        // positioning
        bottom: 10px;
        
        // box model
        width: 200px;
    }

    &--center {
        // positioning
        left: 0;
        right: 0;
        
        // typography
        text-align: center;
    }

    img {
        // box model
        width: 100%;
    }
}