.prices-table {
    // box model
    margin: 0 -20px;
    margin-bottom: 40px;

    // visual
    border-collapse: collapse;

    tr {
        // visual
        border-bottom: 1px solid $black;
    }

    th {
        // box model
        padding: 5px;

        // typography
        color: $black;
        font-size: 1rem;
        text-align: center;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 20px;

            // typography
            font-size: 1.25rem;
            font-size: 1.5rem;
        }

        &:nth-of-type(5) {
            // box model
            display: none;

            @include atTabletsPortrait {
                // box model
                display: table-cell;
            }
        }
    }

    td {
        // box model
        padding: 5px;
        width: 100%;

        // typography
        color: $black;
        font-family: $titleFont;
        font-size: 0.875rem;
        text-align: center;

        @include atTabletsPortrait {
            // box model
            // padding-left: 35px;
            width: 15%;

            // typography
            font-size: 1.25rem;
        }
        
        small {
            // typography
            font-family: $mainFont;
        }

        &:nth-of-type(1) {
            // typography
            font-family: $mainFont;
            font-size: 1rem;
            text-align: left;

            @include atTabletsPortrait {
                // typography
                font-size: 1.5rem;
            }
        }

        &:nth-of-type(2) {
            // typography
            color: $orange;

            // visual
            background-color: $orange;
            color: $white;
            
            @include atTabletsPortrait {
                // typography
                // font-size: 1.35rem;
            }
        }

        &:nth-of-type(5) {
            // box model
            display: none;

            @include atTabletsPortrait {
                // box model
                display: table-cell;
            }
        }
    }
}