.prices-table {
    // box model
    margin: 0 -25px;
    margin-bottom: 40px;

    // visual
    border-collapse: collapse;

    @include atDesktop {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        width: 600px;
        margin-left: 30px;
    }

    tr {
        // visual
        border-bottom: 1px solid $black;

        @include atDesktop {
            // visual
            border-bottom: 1px solid rgba($white, 0.25);
        }
    }

    th {
        // box model
        padding: 5px;

        // typography
        color: $black;
        font-size: 0.875rem;
        text-align: center;
        text-transform: uppercase;

        @include atSmall {
            // typography
            font-size: 0.7rem;
        }

        @include atTabletsPortrait {
            // box model
            padding-bottom: 20px;

            // typography
            font-size: 1.25rem;
            font-size: 1.5rem;
        }

        @include atDesktop {
            // typography
            color: $white;
            font-size: 1rem;
        }

        &:nth-of-type(5) {
            // box model
            display: none;

            @include atTabletsPortrait {
                // box model
                display: table-cell;
            }
        }
    }

    td {
        // box model
        padding: 5px;
        width: 100%;

        // typography
        color: $black;
        font-family: $titleFont;
        font-size: 0.875rem;
        line-height: 1.2;
        text-align: center;

        @include atTabletsPortrait {
            // box model
            width: 15%;

            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            // typography
            color: $white;
            font-size: 1rem;
        }
        
        small {
            // typography
            font-family: $mainFont;
            font-size: 0.8em;
        }

        &:nth-of-type(1) {
            // typography
            // font-family: $mainFont;
            font-family: $titleFont;
            font-size: 0.9rem;
            text-align: left;

            @include atTabletsPortrait {
                // typography
                font-size: 1.5rem;
            }

            @include atDesktop {
                // typography
                font-size: 1.25rem;
            }
        }

        &:nth-of-type(2) {
            // typography
            color: $white;

            // visual
            background-color: $orange;
            
            @include atTabletsPortrait {
                // typography
                // font-size: 1.35rem;
            }

            @include atDesktop {
                // typography
                color: $orange;

                // visual
                background-color: transparent;
            }
        }

        &:nth-of-type(5) {
            // box model
            display: none;

            @include atTabletsPortrait {
                // box model
                display: table-cell;
            }
        }
    }

    hr {
        // visual
        opacity: 0.35;
    }
}