.product {
    // box model
    margin-bottom: 60px;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
        margin-bottom: 60px;
    }

    @include atTabletsLandscape {
        // box model
        margin: 0 60px;
        margin-bottom: 60px;
    }

    @include atDesktop {
        // positioning
        position: relative;

        // box model
        // border: 1px solid red;
        margin: 40px;
        margin-top: 10px;
        // margin-right: 0px;
        padding-top: 40px;
    }

    &__title {
        // typography
        color: $black;
        font-family: $titleFont;
        font-size: 1.5rem;
        text-align: center;

        @include atDesktop {
            // positioning
            position: absolute;
            top: -25px;
            left: -60px;

            // box model
            height: 60px;

            // typography
            color: $white;
            font-family: $mainFont;
            font-size: 1rem;
            line-height: 1.2;
            text-align: left;
        }
    }

    &__content {
        // positioning
        position: relative;

        // typography
        font-size: 0;
    }

    &__image {
        // positioning
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;

        // box model
        margin: 0 auto;
        width: 260px;

        // typography
        text-align: center;

        @include atDesktop {
            // positioning
            left: auto;
            right: -25px;

            // box model
            width: 230px;
        }

        img {
            // box model
            width: 100%;
        }
    }

    &__background {
        // positioning
        position: relative;
        // left: 10px;
        top: 10px;
        z-index: 1;

        // box model
        height: 240px;
        width: 240px;
        margin: 0 auto;

        // visual
        border-radius: 50%;
        background-color: $orange;
        box-shadow: 0 0 0 3px $white, 0 0 0 6px $orange;

        @include atDesktop {
            // box model
            height: 200px;
            width: 200px;

            // visual
            box-shadow: 0 0 0 3px $black, 0 0 0 6px $orange;
        }
    }
}