.product-soon {
    // positioning
    position: relative;

    // box model
    margin: 20px 0;

    // typography
    text-align: left;

    @include atDesktop {
        // box model
        display: inline-block;
        vertical-align: top;
        width: 370px;
        margin-right: 30px;

        &--shampoo {
            // box model
            width: 450px;
        }
    }

    &__icon {
        // positioning
        position: absolute;

        // box model
        height: 100px;
        width: 100px;
        padding-top: 30px;

        // typography
        font-family: $titleFont;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        // visual
        border-radius: 50%;
        background-color: $red;
        text-shadow: 0 2px 0 $black;

        strong {
            // typography
            font-size: 1.72em;
        }
    }

    &__content {
        // box model
        min-height: 100px;
        padding: 10px;
        margin-left: 80px;
        padding-left: 30px;

        // visual
        background-color: $black;
        border: 2px dotted $white;

        @include atTabletsPortrait {
            padding-left: 35px;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
    }

    &__description {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-size: 0.875rem;

        @include atTabletsPortrait {
            // typography
            font-size: 1.25rem;
        }
    }
}