.product-soon {
    // positioning
    position: relative;

    // box model
    margin: 20px 0;

    &__icon {
        // positioning
        position: absolute;

        // box model
        height: 100px;
        width: 100px;
        padding-top: 30px;

        // typography
        font-family: $titleFont;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        // visual
        border-radius: 50%;
        background-color: $red;
        text-shadow: 0 2px 0 $black;

        strong {
            // typography
            font-size: 1.72em;
        }
    }

    &__content {
        // box model
        min-height: 100px;
        padding: 10px;
        margin-left: 80px;
        padding-left: 30px;

        // visual
        border: 2px dotted $white;
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
    }

    &__description {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-size: 0.875rem;
    }
}