.section {
    // positioning
    position: relative;

    // box model
    padding: 30px;

    @include atTabletsPortrait {
        // box model
        padding: 40px;
    }

    &--header {
        @include atTabletsPortrait {
            // box model
            height: 96vh;
        }
    }

    &--bottom-bg {
        padding-bottom: 0;
    }

    &--inverse {
        // visual
        background-color: $orange;

        p {
            // typography
            color: $black;
        }
    }

    &--products {
        // box model
        padding-bottom: 100px;

        // typography
        text-align: center;

        // visual
        background-color: $white;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 160px;
        }
    }

    &--partners {
        // box model
        padding-top: 0;
    }

    &--compare {
        // box model
        padding-bottom: 10px;

        // visual
        background-color: $white;

        p {
            // typography
            color: $black;
        }

        .section__background {
            // box model
            display: none;
        }
    }

    &__background {
        // positioning
        position: relative;

        // box model
        margin: 0 -30px;
        min-width: 100vw;

        // typography
        font-size: 0;

        @include atTabletsPortrait {
            margin: 0 -40px;
        }

        img {
            width: 100%;
        }

        &--center {
            // positioning
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;

            border: 1px solid red;
        }
    }
}