.styling-image {
    // box model
    margin: 0 -30px;

    @include atDesktop {
        // box model
        width: 600px;
        margin: 0;
        margin-left: -60px;
    }

    img {
        // box model
        width: 100%;
    }
}